<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke">
    <test verbose="2" preserve-order="true" name="/Users/edgharutyunyan/Desktop/APITestingAssessment/src/test">
        <classes>
            <class name="BoardApacheTests"/>
            <class name="BoardRestAssuredTests"/>
            <class name="BoardRetroFitTests"/>
        </classes>
    </test>
</suite>